

<ion-content>

<ion-grid class="column">
  <ion-row class="column">
    <ion-col size="2" size-mg class="column">
     
    </ion-col>
    <ion-col size="8" size-lg  class="column">
      <ion-card class="loginModal">
        <ion-card-header class="headerText">
          ToDo - Planner
        </ion-card-header>
        <ion-card-content style="height: -webkit-fill-available; padding-top:2em" >
          <ion-grid style="height: -webkit-fill-available">
            <ion-row style="padding-top: 2em">
              <ion-col size="2"></ion-col>
              <ion-col size="8">
                <ion-label class="textLabel">Username</ion-label>
                <ion-input class="textInput" placeholder="Max Mustermann" (ionInput)="runInputChange($event)"></ion-input>
              </ion-col>
              <ion-col size="2"></ion-col>
            </ion-row>
            <ion-row style="padding-top: 1em">
              <ion-col size="2"></ion-col>
              <ion-col size="8">
                <ion-label class="textLabel">Password</ion-label>
                <ion-input class="textInput" placeholder="123455" (ionInput)="runInputChange($event)"></ion-input>
              </ion-col>
              <ion-col size="2"></ion-col>
            </ion-row>

            <ion-row style="padding-top:5em" >
              <ion-col size="6">
                <div style="padding-left:3em">
                  <ion-button class="registerButton" style="float: left;" color="white">
                    Register
                  </ion-button>
                </div>
              </ion-col>
              <ion-col size="6">
                <div style="padding-right:3em">
                  <ion-button class="loginButton" style="float: right;" color="white">
                    Login
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
            <ion-row style="padding-top:2em;">
              <ion-col size="2"> </ion-col>
                <ion-col size="8">
                  <ion-label class="errorLabel" *ngIf="errorMessage != undefined">
                    {{errorMessage}}
                  </ion-label>
                </ion-col>
              <ion-col size="2"> </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="2" size-mg class="column">
    
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
